@model Infrastructure.Models.TipoActivo

@{
    ViewBag.Title = "Detalles Tipo de Activo";
}

    <h2>Detalles Tipo de Activo</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoActivoID)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoActivoID)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.TipoActivoID }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-danger" })
</p>
