@model IEnumerable<Infrastructure.Models.TipoActivo>

@{
    ViewBag.Title = "Lista de Tipos de Activos";
}

    <h2>Lista de Tipos de Activos</h2>

<p>
    @Html.ActionLink("Agregar nuevo Tipo de Activo", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoActivoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tbody>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoActivoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.TipoActivoID }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Details", "Details", new { id = item.TipoActivoID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TipoActivoID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
</tbody>
            }

    </table>
