@model Infrastructure.Models.Vendedor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vendedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CedulaJuridica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CedulaJuridica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreContacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreContacto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VendedorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
