@model IEnumerable<Infrastructure.Models.Activos>

@{
    ViewBag.Title = "ActivosCatalogo";
}

<h2>ActivosCatalogo</h2>

<p>
    @Html.ActionLink("Reporte PDF", "CreatePdfActivosCatalogo", "Reporte")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumeroSerie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaVencimientoSeguro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaVencimientoGarantia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoColones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoDolares)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CondicionActivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FotoActivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorActual)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVencimientoSeguro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVencimientoGarantia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoColones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoDolares)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CondicionActivo)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.FotoActivo)*@

                <div class="col-md-10">
                    <input type="image" src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(item.FotoActivo)" id="ImagenProducto" style="height:75px;width:75px">
                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorActual)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ActivoID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ActivoID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ActivoID })
            </td>
        </tr>
    }

</table>

